// Colors
    $dodgerblue: #007acc;
    $lightblue: #b0dfff;
    $white: #FFFFFF;
    $lightgray: #D3D3D3;
    $black: #000000;

// Border
    $borderBx: border-box;

// Aligns
    $alignJustify: justify;
    $alignCenter: center;

// Displays
    $dFlex: flex;
    $dInlineBlock: inline-block;
    

// Text
    $paddingBtn: 20px;
    $txtMarginSides: 8%;
    $txtMarginUpDown: 5%;

// Time
    $time03s: 0.3s;
    $time01s: 0.1s;

// Font
    $fontComfortaa: 'Comfortaa', cursive;

// Translate
    $size: 4px;
    $trslateY: translateY($size);

// Media query
    $maxWidth: 650px;
    $flexd-Column: column;